<h1>Your allergens</h1>

<%= simple_form_for(Allergen.new, url: update_families_allergens_path) do |f| %>
<div class="form-group">
  <label class="control-label check_boxes optional">Select your food restriction: </label>
  <input type="hidden" name="post[category_ids][]" value="">
  <div class="family-choices">
      <% AllergenFamily.all.each_with_index do |af, index| %>
        <div class="family-box">
          <div class="hidden-icons <%= index %> d-flex justify-content-center">
            <%= image_tag image_path('checked_icon.png'), class: "checked-icon"%>
          </div>
          <%  @checked = @allergens.pluck(:allergen_family_id).include?(af.id) ? "checked" : "" %>
          <input type="checkbox" class="d-none" value="<%= af.id %>" name="allergen[allergen_families_ids][]" id="allergen_families_ids_<%= af.id %>" <%= @checked %>>
          <label class="family-choice <%= index %>" for="allergen_families_ids_<%= af.id %>">
            <%= af.name %>
          </label>
        </div>
    <% end %>
  </div>
</div>
  <!-- Inject categories here -->

  <%= f.submit "Start Shopping!", class: "btn btn-bottom" %>
<% end %>
