<h1>Tell us about yourself</h1>

<%= simple_form_for(@allergen) do |f| %>
<div class="form-group">
  <label class="control-label check_boxes optional">Select your food restriction: </label>
  <div class="container-families">
      <input type="hidden" name="allergen[allergen_type]" value="family">
      <% AllergenFamily.all.each do |af| %>
      <div class="family">
        <input type="checkbox" class="hidden" value="<%= af.id %>" name="allergen[allergen_families_ids][]" id="allergen_families_ids_<%= af.id %>">
        <label for="allergen_families_ids_<%= af.id %>">
          <%= af.name %>
        </label>
      </div>
    <% end %>
  </div>
</div>
  <!-- Inject categories here -->

  <%= f.submit "Start Shopping!", class: "btn btn-primary"  %>
<% end %>

