<div class="orange-background">
  <div class="container sign-in-container">
    <h1>Welcome to </br>safe bite</h1>

    <div class="separator"></div>

    <h4 class="mb-4">Please fill <br/> the form bellow:</h4>

    <div class="sign-in-form">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      label: false,
                      placeholder: 'e-mail',
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "off" }%>
          <%= f.input :password,
                      required: true,
                      label: false,
                      placeholder: 'password',
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      label: false,
                      placeholder: 'password confirmation *',
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: "btn btn-text-white" %><i class="fas fa-arrow-right"></i>
        </div>
      <% end %>
      <div class="sign-up-links">
        <p style="font-weight: 300; font-size: 20px; font-family: 'Raleway', sans-serif; opacity: 0.7;">Already a user?</p>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

