<div id="show-search-bar" class="container pages-container">
  <h1>Shopping Basket</h1>
</div>

<ul id="shopping-card-list slippylist" class="shopping-card-list" order="<%= @order.id %>">
  <% @order.orders_products.sort_by(&:created_at).each do |orderproduct| %>
    <li class="d-flex">
      <div id="<%= orderproduct.id %>" class="add-product-card d-flex">

        <div class="product-image-price">
          <img src=<%= orderproduct.product.photo %> />
          <p><%= orderproduct.product.price %> €</p>
        </div>

        <div class="product-quantity">
          <h4> <%= orderproduct.product.name.capitalize %> </h4>
          <p> <%= orderproduct.product.brand.capitalize %> </p>
        </div>

        <div class="add-quantity d-flex flex-column justify-content-center pl-5">
          <%= link_to "+", product_orders_path(orderproduct.product), method: :post, remote: true, class: "add" %>
          <div class ="quantity" id="order_count_<%= orderproduct.product.id %>"><%= orderproduct.quantity %></div>
          <%= link_to "-", product_order_path(orderproduct.product, 0), method: :delete, remote: true, class: "remove" %>
        </div>
      </div>
      <div class="delete-red-background">
        <i class="far fa-trash-alt"></i>
      </div>
    </li>

<!--   <div class="justify-content-center pb-4">
    <%#= link_to "delete product", product_delete_orders_path(id: orderproduct.id), class: "btn-delete" %>
  </div> -->

  <% end %>

</ul>

<div class="container d-flex flex-column justify-content-centerd-flex inline-block pt-2 grand-total">
    <div class="ml-auto">
      <p class="total">TOTAL <span class="price"><strong><span class="grand_total"><%= @order.total %></span> € *</strong></span></p>
    </div>
    <div class="ml-auto">
      <p class="vat">* Including VAT</p>
    </div>
    <!-- Button trigger modal -->
    <% unless @order.orders_products.empty? %>
      <button type="button" class="btn btn-bottom" data-toggle="modal" data-target="#paymentsModal">
      Proceed to payment
      </button>
    <% end %>
</div>

<%= render 'payments/new' %>
