<h1>Shopping Basket</h1>

<% @order.orders_products.each do |orderproduct| %>

  <div class="card-shopping">
    <div class="card-shopping-info">
      <p><strong><%= orderproduct.product.name.capitalize %></strong></p>
      <p><%= orderproduct.product.brand.capitalize %></p>
    </div>

    <div class="card-shopping-action">
      <div class="row mt-3 cart">
        <div class="col-sm-12 d-flex justify-content-between p-3 m-2">
          <%= link_to "+", add_product_quantity_checkout_orders_path(product_id: orderproduct.product.id), class: "btn-add" %>
          <p><strong><%= orderproduct.quantity %></strong></p>
          <%= link_to "-", remove_product_quantity_checkout_orders_path(product_id: orderproduct.product.id), class: "btn-remove" %>
          <i class="fas fa-shopping-cart"></i>
          <%= link_to "Delete?", product_delete_orders_path(id: orderproduct.id), class: "btn-delete" %>
        </div>
      </div>
    </div>
  </div>

<% end %>

<div class="container">
  <p>TOTAL: <%= @total_price %></p>
</div>
