<div id="show-search-bar" class="container pages-container">
  <h1>Welcome <%= current_user.first_name.nil? ? 'to Safebite' : current_user.first_name %> </h1>

  <div class="separator"></div>

    <h4>Products you'll love</h4>

  <div class="product-list mb-4">
    <%# product_array = [] %>
    <%# rand(4..9).times { product_array << @products.sample } %>
    <%# product_array.uniq! %>
    <% @products_love.each do |product| %>
      <%= link_to product_path(product) do %>
        <div class="card-trip">
          <img src=<%= product.photo %> />
          <div class="card-trip-infos">
            <div>
              <h2><%= product.name %></h2>
            </div>
            <h2 class="card-trip-pricing"><%= humanized_money_with_symbol(product.price) %></h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <h4>Products without <%= @allergen_family.map(&:name).to_sentence %></h4>


  <div class="product-list mb-5">
    <% @filtered_products.each do |product| %>
      <%= link_to product_path(product) do %>
        <div class="card-trip">
          <img src=<%= product.photo %> />
          <div class="card-trip-infos">
            <div>
              <h2><%= product.name %></h2>
            </div>
            <h2 class="card-trip-pricing"><%= humanized_money_with_symbol(product.price) %></h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to "Go shopping", products_path, class: "btn btn-bottom" %>
