<div class="container pages-container">
  <h1>Welcome <%= current_user.first_name.nil? ? 'to Safebite' : current_user.first_name %> </h1>

  <div class="separator"></div>

 <% allergen_family = AllergenFamily.find_by(name: "shellfish") %>
 <% unwanted_ingredients = Ingredient.where(allergen_family_id: allergen_family) %>
 <% product_array = [] %>
 <% unwanted_products = [] %>


<% unwanted_ingredients.each do |ingredient| %>
  <% unwanted_products << IngredientsProduct.where(ingredient_id: ingredient.id) %>
    <% unwanted_products.flatten! %>
    <% unwanted_products.each do |product| %>
      <% product_array << Product.where.not(id: product.product_id) %>
      <% product_array.flatten! %>
    <% end %>
  <% end %>
  <% product_array.uniq! %>

    <h4>Products you'll love</h4>
</div>

<div class="product-list mb-4">
  <% product_array = [] %>
  <% rand(4..9).times { product_array << @products.sample } %>
  <% product_array.uniq! %>
  <% product_array.each do |product| %>
    <%= link_to product_path(product) do %>
      <div class="card-trip">
        <img src=<%= product.photo %> />
        <div class="card-trip-infos">
          <div>
            <h2><%= product.name %></h2>
          </div>
          <h2 class="card-trip-pricing">£99.99</h2>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<h4>Products without <%= @allergen_family %></h4>

<div class="product-list mb-4">
  <% product_array.each do |product| %>
    <%= link_to product_path(product) do %>
      <div class="card-trip">
        <img src=<%= product.photo %> />
        <div class="card-trip-infos">
          <div>
            <h2><%= product.name %></h2>
          </div>
          <h2 class="card-trip-pricing">£99.99</h2>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<h4>Products without <%= @allergen_family %></h4>

<div class="product-list mb-5">
  <% @products.each do |product| %>
    <%= link_to product_path(product) do %>
      <div class="card-trip">
        <img src=<%= product.photo %> />
        <div class="card-trip-infos">
          <div>
            <h2><%= product.name %></h2>
          </div>
          <h2 class="card-trip-pricing">£99.99</h2>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

  <%= link_to "Go shopping", products_path, class: "btn btn-bottom" %><i class="fas fa-arrow-right"></i>
</div>
