<div class="orange-background">
  <div class="container sign-in-container">
    <h1>Welcome to </br>Safe Bite <%= image_tag 'safebite_logo_white.png' %> </h1>

    <div class="separator separator-white"></div>

    <h4 class="mb-4">Safe Bite let's you <br/> eat safe, fast.</h4>

    <div class="sign-in-form">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      label: false,
                      placeholder: 'e-mail',
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "off" } %>
          <%= f.input :password,
                      label: false,
                      placeholder: 'password',
                      required: false,
                      input_html: { autocomplete: "current-password" } %>

          <label class="container-checkbox">Remember me
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
          </label>
            <span style="display:none;">
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </span>

        </div>

        <div class="form-actions">
          <%= f.button :submit, "Log in", class: "btn btn-white" %>
        </div>
      <% end %>

      <div class="sign-up-links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
