<div class="modal fade" id="paymentsModal" tabindex="-1" role="dialog" aria-labelledby="paymentsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="paymentsModalLabel">Shopping Basket <strong>Payment</strong></h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body payment-card">

      <p><strong>Your order:</strong></p>
      <ul>
        <% @order.orders_products.each do |product| %>
        <li class="modal-list"><%= product.product.name %>, <%= product.quantity %> unit(s)</li>
      <% end %>
      </ul>

		  <article>
		    <label class="modal-total">
		      <p><strong>Total price: <span class="grand_total"><%= @order.total %></span> €</strong></p>
		    </label>
		  </article>

      <hr>

    <form action="/orders/<%= @order.id %>/payments" method="post" id="payment-form">
        <div class="form-row">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          <label for="card-element">
            <p><strong>Proceed to payment below:</strong></p>
          </label>
          <div id="card-element">
            <!-- A Stripe Element will be inserted here. -->
          </div>
          <!-- Used to display Element errors. -->
          <div id="card-errors" role="alert"></div>
        </div>
        <div class="d-flex justify-content-between">
          <button class="btn btn-payment" style="margin-top: 10px;">Pay</button>
          <button type="button" class="btn btn-secondary" style="margin-top: 10px;" data-dismiss="modal">Cancel</button>
        </div>
      </form>

      </div>
    </div>
  </div>
</div>

<script src="https://js.stripe.com/v3/"></script>

