<div class="container pages-container">
  <h1> <%= @products.first.category.gsub(/_/, ' ').gsub(/and/, '&').capitalize %> </h1>
</div>
  <% @products.each do |product| %>

    <%= link_to product_path(product) do %>
      <div class="add-product-card d-flex">

        <div class="product-image-price">
          <img src=<%= product.photo %> />
          <p><%= product.price %></p>
        </div>

        <div class="product-quantity">
            <h4> <%= product.name %> </h4>
            <p> <%= product.volume %> </p>
        </div>

          <div class="add-quantity d-flex flex-column justify-content-center">
            <div class="plus">+</div>
            <div class="quantity">0</div>
            <div class="minus">-</div>
          </div>

      </div>

    <% end %>
  <% end %>

<div class="btn mt-5">
  <%= link_to "<", products_path, class: "btn btn-bottom-back" %>
  <%= link_to "Ready to checkout?", shopping_cart_orders_path, class: "btn btn-bottom-checkout" %>
</div>
