<div class="container pages-container">
    <div class="row">
      <div class="col-sm-12">
        <h1><%= @product.name.capitalize %></h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="product-photo" style="background-image: url('<%= image_path(@product.photo) %>')"></div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-12 product-info">
        <h2><%= @product.brand.capitalize %></h2>
        <h3><%= @product.category.gsub(/_/, ' ').gsub(/and/, '&').capitalize %></h3>
        <h4><%= @product.volume %></h4>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 product-price">
        <p><strong><%= humanized_money_with_symbol(@product.price) %> per unit</strong></p>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-12 product-description">
        <p><strong>Description:</strong> <%= @product.description %></p>
      </div>
    </div>

  </div>

</div>

<div class="container white-background pl-5 pr-5 pt-1 pb-5">
  <div class="row mt-3">
    <div class="col-sm-12 add-quantity d-flex align-self-center justify-content-between">
      <%= link_to "-", remove_product_quantity_orders_path(product_id: @product.id), class: "remove" %>
      <p class="centered"><strong><%= @quantity_in_pending_order %></strong></p>
      <%= link_to "+", add_product_quantity_orders_path(product_id: @product.id), class: "add" %>
      <p class="centered"><strong>Total price: <%= @total_price %> €</strong></p>
  </div>
</div>

<div class="btn">
  <%= link_to "<", category_products_path(@product.category), class: "btn btn-bottom-back" %>
  <%= link_to "Ready to checkout?", shopping_cart_orders_path, class: "btn btn-bottom-checkout" %>
</div>


